@(ruleForm: Form[com.atlassian.addon.connect.autowatch.controllers.form.ProjectAutoWatchRuleForm])

@import helper._

@ac.page("Autowatch project configuration") {
    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingHeader())
    <link rel="stylesheet" href="@routes.Assets.at("lib/aui/css/aui-all.css")" media="all">
    <!--[if lt IE 9]><link rel="stylesheet" href="@routes.Assets.at("lib/aui/stylesheets/aui-ie.stylesheets")" media="all"><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="@routes.Assets.at("lib/aui/stylesheets/aui-ie9.stylesheets")" media="all"><![endif]-->

    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.min.css")" media="all">

} {
    <div class="aui-page-header">
        <div class="aui-page-header-inner">
            <div class="aui-page-header-main">
                <h2>Autowatch Rules</h2>
                <p>It's possible for users to automatically watch issues that match certain JQL. The JQL is scoped within project.</p>
            </div>
            <div class="aui-page-header-actions">

            </div>
        </div>
    </div>

    <div class="aui-message error">
        <p class="title">
            <span class="aui-icon icon-error"></span>
            <strong>Manage watchers permission needed!</strong>
        </p>
        <p>In order to specify autowatch rules you need a manage watchers permission. <a href="@ruleForm.get().tenantHost/plugins/servlet/project-config/@ruleForm.get().projectKey/permissions" target="_top">Change your permissions</a> to resolve this issue.</p>
    </div><!-- .aui-message -->


    @Html(com.newrelic.api.agent.NewRelic.getBrowserTimingFooter())
}